:root {
    --primary: #FE6019;
}

.listBody {
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vw;
}

.List_Header {
    background-color: var(--primary);
    text-align: left;
    padding: 20px 12px;
    color: white;
    font-size: 16px;
}
h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary);
}

.Add {
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ListButton {
    height: 40px;
    padding: 0px 35px;
    background-position: center;
    background-size: 14000%;
    transition: background 0.8s ease-in-out;
    color: var(--primary);
    background-image: radial-gradient(circle, transparent 1%, var(--primary) 1%);
    background-color: transparent;
    border: var(--primary) 1px solid;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 24px;
    text-align: center;
}
.ListButton:hover{
    background: rgb(255, 217, 194) radial-gradient(circle, transparent 1%, rgb(255, 217, 194) 1%)center/14000%;
}
.ListButton:active {
    transition: background 0s;
    background-color: rgba(245, 202, 164, 0.4);
    background-size: 100%;
}



.ListInput {
    border: 1px solid #D3D3D3;
    height: 40px;
    font-size: 16px;
    padding-left: 12px;
    width: 100%;
    border-radius: 10px;
}

.ListContainer {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 19px;
    margin: 6px 0px;
}

.DelButton {
    height: 30px;
    width: 30px;
    background: 0;
    padding: 0;
    border: none;
}
button {
    all: unset;
}
.tab{
    display:flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0px;
    border-bottom: 2px solid #f2f2f2;
}

.tabs{
    height: 40px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    border: none;
    font-size: 16px;
    
    
}

.active-tabs{
    background-color: var(--primary);
    color:white;
}

a {
    text-decoration: none;
    color: black;
}

.content-tabs2 {
    margin: 0 auto;
    width: 90vw;
}